
 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="/public/main-styles.css">
     <title>{{title}}</title>
   </head>
   <body>
    <nav>
        <a href="http://localhost:3000/">Home</a> |
        <a href="http://localhost:3000/upload">UPLOAD</a> |
    </nav>
    {{{body}}}
   </body>
 </html>