   <h1>Video Uploader</h1>
   <main>
       <p>This site finds people in stevens institute of tech. It allows you to get their personal details </p>
       <form method = "POST" action="/api/posts" enctype="multipart/form-data">
           
           <label for="videoUploader"> Upload Video:  </label>
           <input type="file" name="video" id="videoUploader">
           <label for="videoTitle"> Title:  </label>
           <input type="text" name="caption" id="videoTitle">
           <button type="submit">Submit</button>
           
       </form>
   </main>
