/*This file should have CSS rulesets */
#password {
  margin-left: 10px;
}

.video {
  width: 75%;
	border-bottom: 1px dashed #333;
}

.toggle{
  background-color: aqua;
}

.toggle{
  background-color: aqua;
}

#reply-form-area{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

#list-replies-area{
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

.comment-item{
  border-color: green;
  border-width: 2px;
  border-style: solid;
}

.vLike{
  border: 2px solid hotpink;
  border-radius: 20%;
}

.vDislike{
  border: 2px solid hotpink;
  border-radius: 20%;
}

.like{
  border: 2px solid hotpink;
  border-radius: 20%;
}
.dislike{
  border: 2px solid hotpink;
  border-radius: 20%;
}