<h1>{{title}}</h1>
<h2>{{searchChanel}}</h2>
<main>
    <p class="channel-not-found">We're sorry, but no results were found for {{searchChannel}}.</p>

    <a class= "another-search" href="http://localhost:3000/">Make another search</a>
    
    <a href="/">return to the homepage</a>
</main>  