{{#if error}}
<div class="form-group">
    <div class="alert alert-danger">
        {{ error }}
    </div>
</div>
{{/if}}


<form method="POST" action="/register" id="registration-form">
    <label for="usernameInput" id="userLabel">Username:</label>
    <input type="text" id="usernameInput" name="usernameInput">
    <label for="passwordInput" id="passwordLabel">Password:</label>
    <input type="password" id="passwordInput" name="passwordInput">
    <button type="submit">Submit</button>
</form>
<a href="/">Already have an account? Click here to log-in</a>
{{!-- 
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/registerValidation.js"></script> --}}

