<nav>
    <a href="http://localhost:3000/videoFeedRoutes/">Home</a> |
    <a href="http://localhost:3000/videoFeedRoutes/upload">UPLOAD</a> |
    <a href="http://localhost:3000/videoFeedRoutes/popularVideos">POPULAR</a>|
    <a href="http://localhost:3000/videoFeedRoutes/history">HISTORY</a> |
    <a href="http://localhost:3000/channel/delete">DELETE</a> |
    <a href="/logout">Logout</a>
    <form action="/api/posts/searchvideo" method="POST" class="search-video">
    <label for="search-for-person">
      Search
      <input type="text" name="searchVideoName" id="search-for-video" placeholder="Video Title" />
    </label>
    <button type="submit">Submit</button>
  </form>
</nav>
<h1>{{title}}</h1> {{!--no result--}}

<p class="not-found">We're sorry, but no results were found for
  {{searchVideoName}}.</p>