<nav>
    <a href="http://localhost:3000/videoFeedRoutes/">Home</a> |
    <a href="http://localhost:3000/videoFeedRoutes/upload">UPLOAD</a> |
    <a href="http://localhost:3000/channel/delete">DELETE</a> |
    <a href="/logout">Logout</a>
    <form action="/api/posts/searchvideo" method="POST" class="search-video">
    <label for="search-for-person">
      Search
      <input type="text" name="searchVideoName" id="search-for-video" placeholder="Video Title" />
    </label>
    <button type="submit">Submit</button>
  </form>
</nav>
<h1>Results</h1>
<section>
  {{#each videos}}
  <article class="video">
    <a href="/videos/{{id}}">  <h2>{{videoTitle}}</h2> 
    </a>
    {{!--<h2>videoTitle</h2>
    <p>By: {{username}}</p>
    <p>Views: {{totalviews}}</p>
    --}}
  </article>
  {{/each}}
</section>